<div class="navbar navbar-inverse bg-inverse">
    <a class="navbar-brand">SPORTS STORE</a>
</div>
<div class="m-a-1 text-xs-center">
    <h2 class="label">Your Cart</h2>
</div>
<table class="table table-stripped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cartLine of cart.cartLines">
            <td>{{cartLine.product.name}}</td>
            <td>{{cartLine.product.description}}</td>
            <td>{{cartLine.product.category}}</td>
            <td>{{cartLine.product.price}}</td>
            <td>
                <input type="number" (change)="cart.updateQuantity(cartLine.product, $event.target.value)" [value]="cartLine.quantity">
            </td>
            <td>{{cartLine.cartLineTotal() | currency: "USD": true: "2.2-2"}}</td>
            <td>
                <button class="btn btn-outline-danger" (click)="cart.removeLine(cartLine)">Remove</button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Total</td>
            <td>{{cart.total | currency: "USD": true: "2.2-2"}}</td>
        </tr>
    </tfoot>
</table>
<div class="m-a-1 text-xs-center">
    <button class="btn btn-info" routerLink="/store">Continue Shopping</button>
    <button class="btn btn-success" type="submit" routerLink="/checkout">Checkout</button>
</div>