<div class="bg-info p-a-1 text-xs-center">
    <h3>Sports Store Admin</h3>
</div>

<div class="alert alert-danger" *ngIf="errorMessage !=null ">
    {{errorMessage}}
</div>
<form novalidate #form="ngForm" (ngSubmit)="authenticate(form)" class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <table class="table">
        <tr>
            <td>
                <label>User Name</label>
            </td>
            <td>
                <input type="text" name="username" [(ngModel)]="username" required autofocus/>
            </td>
        </tr>
        <tr>
            <td>
                <label>Password</label>
            </td>
            <td>
                <input type="password" name="password" [(ngModel)]="password" required/>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" class="btn btn-primary btn-outline-primary btn-block">Log In</button>
            </td>
            <td>
                <button class="btn btn-danger btn-outline-danger btn-block" routerLink="/">Cancel</button>
            </td>
        </tr>
    </table>
</form>